h2, p {
    
    text-shadow: 2px 2px #FA5008;
    color: white;
    opacity: none;
    font-family: 'Poetsen One', arial;
    text-align: center;
    padding-top: 50%;

  }

  p {
    background-color: #FF5F7E;
    box-shadow: 5px 10px 8px black;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

ion-content {
    --ion-background-color: #142F43;
}

