<link href="http://fonts.cdnfonts.com/css/poetsen-one" rel="stylesheet">  

<ion-header>

  <ion-toolbar class="new-background-color2">
  </ion-toolbar>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Buscador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="stacked" class="text-font">Nombre Grupo/Artista:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label class="text-font">Genero:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="text-font">Tipo:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="text-font">Nombre del tipo:</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>

  <p class="ion-text-center">
    <ion-button class="text-font">Search</ion-button>
  </p>
</ion-content>
