<!DOCTYPE html>
<html>
  <link href="http://fonts.cdnfonts.com/css/poetsen-one" rel="stylesheet">  
  <ion-content fullscreen class="ion-padding" scroll-y="false" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')' , 'background-repeat': 'no-repeat', 'background-position': 'center top', 'background-size': 'cover' }" >
    <ion-slides class="back" pager="true" pager="false" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')', 'background-repeat': 'no-repeat', 'background-position': 'center top', 'background-size': 'cover' }" #mySlider>
      
      <ion-slide>
        <div class="slide">
          <img src="/assets/img/icon-slider1.png"/>
          <h2>Welcome</h2>
          <p>
            The ionic conference app is a practical preview of the ionic
            framework in action, and a demonstration of proper code use.
          </p>
        </div>
        <ion-button class="ion-button-style" (click)="swipeNext()">Next</ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="/assets/img/icon-slider2.png"/>
        <h2>What is Ionic?</h2>
        <p>
          <b>Ionic Framework</b> is an open source SDK that enables developers to
          build high quality mobile apps with web technologies like HTML, CSS, and
          JavaScript.
        </p>
        <ion-button class="ion-button-style" (click)="swipeNext()">Next</ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="/assets/img/icon-slider3.png"/>
        <h2>What is Appflow?</h2>
        <p>
          <b>Appflow</b> is a powerful set of services and features built on top
          of Ionic Framework that brings a totally new level of app development
          agility to mobile dev teams.
        </p>
        <ion-button class="ion-button-style" (click)="swipeNext()">Next</ion-button>
      </ion-slide>
  
      <ion-slide>
        <img src="/assets/img/icon-slider4.png"/>
        <h2>Ready to Play?</h2>
        <ion-button [navPush]="tabs" class="ion-button-style" fill="clear"
          >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-slide>

    </ion-slides>
    
    
  </ion-content>



</html>


